<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['pandas==1.3.3']

[+] 0.0s
[+] 0.1s
pkgs/main/linux-64 ━━━━━━━━━━━━━╸━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/main/noarch   ━━━━━━━━━━━╸━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/linux-64    ━━━━━━━━━━━━━━╸━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/noarch      ━━━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1spkgs/main/linux-64                                            No change
pkgs/r/linux-64                                               No change
pkgs/r/noarch                                                 No change
pkgs/main/noarch                                              No change

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - pandas==1.3.3
   - ca-certificates
   - certifi
   - openssl


  Package   Version  Build           Channel                Size
──────────────────────────────────────────────────────────────────
  Downgrade:
──────────────────────────────────────────────────────────────────

  - pandas    1.3.5  py37h8c16a72_0  pkgs/main
  + pandas    1.3.3  py37h8c16a72_0  pkgs/main/linux-64     10MB

  Summary:

  Downgrade: 1 packages

  Total download: 10MB

──────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B                            0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (1) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B pandas                     0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0spandas                                               9.7MB @  50.1MB/s  0.2s
[+] 0.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━╸━━━━━━━━━━━━━━       0 pandas                     0.0s[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━╸━━━━━━━━━━━━━       0 pandas                     0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━━╸━━━━━━━━━━━━       0 pandas                     0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━━━╸━━━━━━━━━━━       0 pandas                     0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━━━━╸━━━━━━━━━━       0 pandas                     0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━╸━━━━━━━━━━━━━━━       0 pandas                     0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━╸━━━━━━━━━━━━━━       0 pandas                     0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━╸━━━━━━━━━━━━━       0 pandas                     0.7s[+] 1.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━━╸━━━━━━━━━━━━       0 pandas                     0.8s[+] 1.1s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   9.7MB                            0.1s
Extracting   (1) ━━━━━━━━━━━╸━━━━━━━━━━━       0 pandas                     0.9s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['requests==2.26.0']

pkgs/main/linux-64                                          Using cache
pkgs/main/noarch                                            Using cache
pkgs/r/linux-64                                             Using cache
pkgs/r/noarch                                               Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - requests==2.26.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build         Channel              Size
──────────────────────────────────────────────────────────────────────────
  Downgrade:
──────────────────────────────────────────────────────────────────────────

  - charset-normalizer    3.1.0  pyhd8ed1ab_0  conda-forge
  + charset-normalizer    2.0.4  pyhd3eb1b0_0  pkgs/main/noarch     35kB
  - requests             2.29.0  pyhd8ed1ab_0  conda-forge
  + requests             2.26.0  pyhd3eb1b0_0  pkgs/main/noarch     61kB

  Summary:

  Downgrade: 2 packages

  Total download: 96kB

──────────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B                            0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0scharset-normalizer                                  35.4kB @ 253.2kB/s  0.1s
requests                                            60.7kB @ 390.1kB/s  0.2s
[+] 0.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━╸━━━━━━━━━━━━━━━       0 charset-normalizer         0.0s[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━╸━━━━━━━━━━━━━━       0 charset-normalizer         0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━━╸━━━━━━━━━━━━━       0 charset-normalizer         0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━━━━╸━━━━━━━━━━━       0 charset-normalizer         0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━━━━━╸━━━━━━━━━━       0 requests                   0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━━━━━━╸━━━━━━━━━       0 requests                   0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (2) ━━━━━━━━╸━━━━━━━━━━━━━━       0 requests                   0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.1s
Extracting   (1) ━━━━━━━━━━╸━━━━━━━━━━━━       1 requests                   0.7s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-09-06 21:14:22--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-09-06 21:14:22 (17.5 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2023-09-06 21:14:22--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-09-06 21:14:23 (11.9 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2023-09-06 21:14:23--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2023-09-06 21:14:23 (5.45 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [ ]:
extract_from_json('bank_market_cap_1.json')

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [12]:
columns=['Name','Market Cap (US$ Billion)']

In [13]:
def extract():
    return extract_from_json('bank_market_cap_1.json')

In [ ]:
extract()

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [106]:
rates = pd.read_csv('exchange_rates.csv', index_col=0)
exchange_rate = 0
for index, row in rates.iterrows():
    if index == 'GBP':
        exchange_rate = row['Rates']

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [93]:
def transform(df, ex_sym, ex_rate):
    df['Market Cap (US$ Billion)'] = df['Market Cap (US$ Billion)'].map(lambda x: x * ex_rate)
    return df.rename(columns={"Market Cap (US$ Billion)": f"Market Cap ({ex_sym}$ Billion)"})

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [ ]:
def load(df):
    df.to_csv('bank_market_cap_gbp.csv', index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [99]:
def log(operation, phase):
    timestamp = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
    print(f"{operation} {phase}: {timestamp}")

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [100]:
log('ETL Job', 'Started')
log('Extract phase', 'Started')

ETL Job Started: 2023-09-06 22:52:11
Extract phase Started: 2023-09-06 22:52:11

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [101]:
extract().head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [102]:
log('Extract phase', 'Ended')

Extract phase Ended: 2023-09-06 23:00:18

### Transform

Log the following  <code>"Transform phase Started"</code>

In [103]:
log('Transform phase', 'Started')

Transform phase Started: 2023-09-06 23:01:12

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [107]:
d0 = extract()
transform(d0, 'GBP', exchange_rate).head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                 286.319444
1  Industrial and Commercial Bank of China                 252.834188
2                          Bank of America                 238.271911
3                              Wells Fargo                 225.588235
4                  China Construction Bank                 188.518621

Log your data <code>"Transform phase Ended"</code>

In [108]:
log('Transform phase', 'Ended')

Transform phase Ended: 2023-09-06 23:03:36

### Load

Log the following `"Load phase Started"`.

In [ ]:
# Write your code here

Call the load function

In [ ]:
# Write your code here

Log the following `"Load phase Ended"`.

In [ ]:
# Write your code here

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).